.tooltip__form
    border: 2px solid red
    padding: 7px

.tooltip__content
    visibility: hidden
    background-color: #FFFFFF
    border: solid thin $blue-light-color
    padding: 7px
    border-radius: 6px
 
    position: absolute
    top: -5px
    left: 95%
    z-index: 1

    .tooltip__row
        margin: 13px

    .field__row__text
        border: none
        border-bottom: solid 1px $blue-main-color

    .tooltip__title
        font-size: 1em
        color: $tooltip-title
        text-transform: uppercase 
        text-align: left

    .tooltip__input__text
        border: none

.tooltip__content--show
    visibility: visible !important