@import colors
@import tooltips
@import editmobile

.body--mobile
    margin: 0px
    padding: 0px

body
    background-color: $blue-light-color
    padding: 3px
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
    .container 
        border: thin solid gray
        margin: 20px
        background-color: #FFFFFF

    .container__about--mobile
        margin-top: 10px
        background-color: #FFFFFF
        
    .content__panel
        padding: 15px

    .content__panel--hide
        display: none

    .form--display
        display: block

    .form--hide
        display: none

    .form__row
        margin: 2px
        padding: 1px

    .form__field
        margin: 2px
        padding: 3px
        background-color: $blue-light-color
        position: relative

        .form__field__icon
            padding: 5px
            margin: 3px

    .form__field__text
        margin: 5px

    .form__control__button--top
        float: right

    .tooltip
        display: none

.header__title--mobile
    text-align: center
    margin: auto
    padding: auto

.header__top--desktop
    padding: 12px
    margin: auto
    align-content: center
    text-align: center
    min-height: 100px
    vertical-align: center

.header__central
    display: flex
    flex-direction: row

.header__central--mobile
    display: flex
    flex-direction: column

.profile__column
    padding: 7px

.profile__info
    // display: flex
    // padding: 7px

.profile__reviews
    padding: 10px

.profile__reviews--mobile
    display: flex
    flex-direction: column

.profile__header--4
    font-size: 1.5em

.profile__photo
    overflow: hidden

.profile__photo--desk
    max-height: 50%
    overflow: hidden
    float: left

.profile__field
    padding: 5px

.nav__bar
    padding: 10px
    border-top: solid thin  $blue-light-color
    background-color: #FFFFFF
    overflow: auto
    white-space: nowrap

    .nav__list
        display: inline
        padding: 0px

    .nav__button
        padding: 7px 4px
        text-transform: uppercase
        display: inline-block

    .nav__button--active
        border-bottom: solid 2px $blue-main-color

.button
    text-transform: uppercase
    cursor: pointer
    margin: 4px

.button--solid
    background-color: $blue-main-color
    color:#FFFFFF
    padding: 7px

.button--border
    background-color: none 
    padding: 7px

.button--link
    color: $blue-main-color

.button--border--active
    border: solid 2px $blue-main-color
    color: $blue-main-color

.button--border--muted
    border: solid 2px #ebf0f5
    color: #d0dbe6

.button--hide
    display: none

.button__edit
    padding: 4px
    margin: 1px
    background-color: $blue-light-color

.button__edit:hover
    background-color: $blue-main-color
    color: #FFFFFF

// identifiers
#logOut
    float: right

#followers
    float: right
    text-transform: capitalize

#header
    min-height: 200px

#buttonCover
    margin: auto
    margin-top: 200px

#buttonEditDevice
    float: right
